@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}